//THEME COLORS 
$black: #000000;
$white: #FFFFFF;
$gray: #808080;
$lightgray: #D3D3D3;
$platinum: #E5E4E2;
$darkgray: #A9A9A9;
$gunmetal: #818589;

$primary: $gray;
$secondary: $white;





//SET CHANGES
@import "bootstrap";